*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.header{

    
    display: flex;
    width: 100%;
    height: 10%;
    box-shadow: 0 0 10px 5px lightsteelblue;
}

.header .header-left{
    width: 45%;
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    
}

.header .header-right{
    width: 50%;
    display: flex;
    align-items: center;
   
     
}

.header-left ul{
    display: flex;
    gap:40px;
    
}

.header-left ul li{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .3px
    
}

.header-right form{
  width: 70%;
  border: 1px solid black;
  background-color:#f5f5f6;
  color: #696e79;
  font-size: 14px;
  margin: 1%;
  border-radius: 5px; 
}

.header-right input{
    padding:5px 150px;
    border: none;
    background-color: transparent;

}

.header-right button{
    border: none;
    background-color: transparent;
    margin: 8px;
}

.header-right .info{
    display: flex;
    width: 30%;
}

.info ul{
    display: flex;
    gap:35px;
    justify-content: space-around;
    margin-left: 50px;
}

.info ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.info ul li i{
    font-size: 14px;
}

.info ul li b{
    font-size: 16px;
    font-weight: 400;
}


.content{
    width: 100%;
    margin-top: 50px;
    box-shadow: 0 0 10px 4px #ccc;
}

.content img{
    width: 100%;
}

.row1{
    width: 100%;

}

.row1 h2{
    padding: 5%;
    letter-spacing: .15em;
    font-weight: 700;
    color: #3e4152;
}

.row1slider{
    width: 100%;
    display: flex;
    gap: 5px;
   
    /* margin-bottom: 5%; */
}

.row1item{
    width: 100%;
     box-shadow: 0 0 10px 2px red;
}

.row1item img{
    width: 100%;
}

.row2{
    width: 100%;
}

.row2 h2{
   padding: 5%;
    letter-spacing: .15em;
    font-weight: 700;
    color: #3e4152;
}

.row2slider {
    width: 100%;
     display: flex;
     gap: 5px;
}

.row2items{
    width: 100%;
    box-shadow: 0 0 10px 2px red;
   
}

.row2items img{
    width: 100%;
}

.row3{
    width: 100%;
}

.row3 h2{
    padding: 5%;
    letter-spacing: .15em;
    font-weight: 700;
    color: #3e4152;
    text-transform: uppercase;
}

.row3slider{
    width: 100%;
    display: flex;
    gap: 5px;
}

.row3items{
    width: 100%;
    box-shadow: 0 0 10px 2px red;
   
}

.row3items img{
    width: 100%;
}

.row4{
    width: 100%;
}

.row4 h2{
    padding: 5%;
    letter-spacing: .15em;
    font-weight: 700;
    color: #3e4152;
    text-transform: uppercase;
}

.row4slider{
    width: 100%;
    display: flex;
    gap: 5px;
}

.row4items{
    width: 100%;
    box-shadow: 0 0 10px 2px red;
   
}

.row4items img{
    width: 100%;
}

.row5{
    width: 100%;
}

.row5 h2{
    padding: 5%;
    letter-spacing: .15em;
    font-weight: 700;
    color: #3e4152;
    text-transform: uppercase;
}

.row5slider{
    width: 100%;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    padding-left:-5% ;
    
    
}

.row5items{
    width: 15%;
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
    margin-bottom: 20px;
    box-shadow: 0 0 10px 4px #ccc;
   
   
}

.row5items img{
    width: 100%;
}

.footer{
    margin: 5%;
    width: 90%;
    display: flex;
    box-shadow: 0 0 10px 2px #ccc;
    justify-content: center;

}

.online-shopping{
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.online-shopping h4{
    color: #282C3F;
    font-size: 12px;
}

.online-shopping a{
    padding: 14px 0 5px 0;
    color: #696B79;
    font-size: 15px;
    cursor: pointer;
}

.customer-policies{
    padding-top: 20px;
    margin:0 8% ;
    display: flex;
    flex-direction: column;
}

.customer-policies li{
  padding: 14px 0 5px 0;
    color: #696B79;
    font-size: 15px;
    cursor: pointer;
}

.customer-policies h4{
    color: #282C3F;
    font-size: 12px;
}

.logo-bar{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.logo-bar h4{
    color: #282C3F;
    font-size: 12px;
}


.logo-bar img{
    cursor: pointer;
    width: 140px;
    height: 42px;
}

.logo-bar .img{
    justify-content: center;
    margin-top: 25px;
}

.logo-bar b{
    margin-top: 20px;
    font-size: 12px;
}   

.logo-bar i{
    cursor: pointer;
    margin-top: 10px;
    padding: 5px;
    font-size: 28px;
    
}

.png{
    display: flex;
    width: 20%;
    flex-direction: column;
    padding-top: 20px;
    margin:0 7%;
}

.png .original{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom:35px;
}

.png img{
    width:50px;
    margin-right: 10px;
}

.png .return{
   display: flex;
   flex-direction: row;
}
