* {
    box-sizing: border-box;
}

.main {
    height: 540px;
    width: 1000px;
    border: 2px solid black;
    color: black;
}

.navbar {
    height: 78px;
    width: 998px;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    margin-top: 0;
    border: 1px solid black;
}

.navbar_item {
    height: 38px;
}

.navbar_item a {
    border: 1px solid black;
    height: 38px;
    width: 198px;
    /* width: 200px; */
    float: left;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    color: black;
}

.row3 {
    height: 198px;
}

.row3left {
    height: 198px;
    width: 248px;
    float: left;
    border: 1px solid black;

}

.row3leftr {
    height: 38px;
    width: 100%;
    border: 1px solid black;
    text-align: center;
}

.row3right {
    height: 198px;
    width: 748px;
    float: left;
    background: url('https://images.pexels.com/photos/34663573/pexels-photo-34663573.jpeg');
    background-size: cover;
    background-position: center;

}

.row4 {
    height: 48px;
    width: 998px;
    font-weight: 600;
    text-align: center;
    border: 1px solid black;
    background-color: red;
    margin: 0 auto;
}

.row5 {
    height: 100px;
    width: 1000px;
}

.row5r {
    height: 100px;
    width: 332px;
    border: 1px solid black;
    float: left;
    background: url('https://imagefree-dev.s3.us-west-2.amazonaws.com/storage/small/en/cow-in-iceland.jpg');
    background-size: cover;
    background-position: center;
    
}


.row6{

    height: 75px;
    text-align: center;
    width: 100%;
    
    padding: 28px 0;
   
 
     
    
}
