*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

body{
   font-family: "Nunito",sans-serif;
}


.navbar{
   display: flex;
   height: 10vh;
   width: 100vw;
}




.navbar .nav-left{
   margin: 2% 0 2% 8%;
   font-size: 1.3rem;


}

.navbar .nav-right{
   margin: 2% 10% 0  2%;
   font-size: 1.1rem;
   width: 100%;
   display: flex;  
   justify-content: flex-end;
   gap: 10%;

   a {
      display: flex;
      text-decoration: none;
      border: 2px solid black;
      border-radius: 10px;
      align-content: center;
      width: 10%;
      height: 100%;
      justify-content: center;
      align-items: center;
      background-color: black;
      color: white;
      cursor: pointer;
   }
   
}



.content{
  display: flex;
  width: 100%;
  height: 50%;
}

.content-data{
   height:50%;
   display: flex;
   flex-direction: column;
   margin: 8% 8%;
   width: 100%;

   h1{
      font-size: 3.4rem;
   } 

   p{
      margin: 10% 0;
      font-size: 1.3rem;
   }

   button{
      margin: 5% 0;
      padding: 2% 0;
      cursor: pointer;
      font-size: 1.2rem;
   }
}

.content-pic{
     display: flex;
     /* padding-bottom: 10%; */
     

   img{
       margin: -3% 3%;
       width: 100%;
       height: 100%;
   }
}
